<div class="container">
	<%= link_to "Back", user_path, class: "btn btn-primary"%>
	<div class="row">
		<div class="col-md-6">
		<h1>Incoming Requests</h1>
		<% @incoming_requests.each do |req| %>
			<%= @request %>
			<h4>Date: <%= req.date.strftime('%A, %B %d, %Y') %></h4>
			<h4> Borrower: <%= req.borrower.first_name.capitalize %> </h4>
			<h4> Item: <%= req.item.name.capitalize %> </h4><a href=""><h4><%= mail_to req.borrower.email, "Email Borrower", subject: "Hi from EquipShare!" %></h4></a>


			<br>
			

			<% end %> 
		<br>
		</div>
		<div class="col-md-6">

		<h1>Outgoing Requests</h1>

		<% @outgoing_requests.each do |req| %>
				<h4>Date: <%= req.date.strftime('%A, %B %d, %Y') %></h4>
				<h4> Owner: <%= req.owner.first_name.capitalize %> </h4>
				<h4> Item: <%= req.item.name.capitalize %> </h4>
				<a href=""><h4><%= mail_to req.owner.email, "Email Owner", subject: "Hi from EquipShare!" %></h4></a>
				<br>
			
		<% end %>
		</div>
	</div>

</div>
