<h1>Request Form</h1>
<%= Time.now.strftime("%m/%d/%Y") %>


<h3><%= @item.name %></h3>

<%=form_for @request, url: item_requests_path, method: "post" do |f| %>
  <%= f.date_field :date %>
  <%= f.submit "Submit Request" %>
<% end %>

<%= link_to "Back", items_path, class: "btn btn-primary"%>