<div class="container">
	<div class="signup">
		<h3>Sign Up</h3>

			<%= form_for @user do |f| %>
			  <%= f.text_field :first_name, placeholder: "First name" %>
			  <%= f.text_field :last_name, placeholder: "Last name" %>
			  <%= f.text_field :email, placeholder: "Email" %>
			  <%= f.password_field :password, placeholder: "Password" %>

			  <%= f.submit "Sign Up" %>
			<% end %>
		</div>
</div>