<!-- <div class="container">
	<div class="signup">
		<h3>Sign Up</h3>

			<%= form_for @user do |f| %>
			  <%= f.text_field :first_name, placeholder: "First name" %>
			  <%= f.text_field :last_name, placeholder: "Last name" %>
			  <%= f.text_field :email, placeholder: "Email" %>
			  <%= f.password_field :password, placeholder: "Password" %>

			  <%= f.submit "Sign Up" %>
			<% end %>
		</div>
</div> -->

<div class="container">
  <h2>Sign up</h2>


    <%= form_for @user do |f| %>
    <div class="form-group">
      <label for="first_name">First name</label>
      <%= f.text_field :first_name, class: "form-control", placeholder: "John" %>
    </div>
    <div class="form-group">
      <label for="last_name">Last name</label>
      <%= f.text_field :last_name, class: "form-control", placeholder: "Doe" %>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <%= f.text_field :email, class: "form-control", placeholder: "email" %>
</div>
<div class="form-group">
      <label for="password">Password</label>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
</div>

      <%= f.submit "Sign Up", class: "btn btn-primary" %>
   <% end %>


</div>
