<div>
	<h1>Welcome, <%= @user.first_name%>!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div>
				<%= link_to "Incoming Request", new_user_path, class: "btn btn-primary"%>
			</div>
			<div>
				<%= link_to "Outgoing Request", new_user_path, class: "btn btn-primary"%>
			</div>	
		</div>
		<div class="col-md-4">
			<div>
				<%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary"%>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<%= link_to "Rent items", new_user_path, class: "btn btn-primary"%>
			</div>
			<div>
				<%= link_to "Go to My Items", new_user_path, class: "btn btn-primary"%>
			</div>
		</div>

		
	</div>
	
</div>