<!DOCTYPE html>
<html>
<head>
  <title>EquipShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
		
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img class ="navIcon" ><a href ='/'class="navbar-brand">EquipShare</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
        	<% if current_user %>
        	<li><%= link_to "Profile", user_path(current_user)%></li>
        	<li><%= link_to "Log Out", logout_path%></li>
        	<% else %>
        	<li><%= link_to "Create Account", new_user_path %></li>
        	<li><%= link_to "Log In", login_path %></li>
        	<% end %>
        </ul>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

	
	<% flash.each do |name, msg| %>
	<p>
		<small> <%= name.capitalize %>: <%= msg%> </small>
	</p>
	<% end %>
   
    <div class="jumbotron">
      <div class="container-fluid">
        <div id="text"><h1>Welcome to EquipShare</h1>
        <h3>Borrow equipment from your neighbors</h3>
        </div>
      </div>
    </div>
  
  <%= yield %>

</body>
</html>
