<h3><%= @item.name %></h3>
<p><%= @item.description %></p>
<%= link_to image_tag(@post.image.url(:med)), @item.image.url %>
<%= link_to "Request Item", new_item_request_path(@item), class: "btn btn-primary"%>
<%= link_to "Back", items_path, class: "btn btn-primary"%>